@import "tailwindcss";

:root {
  background-image: url("https://cdn.discordapp.com/attachments/475828437316272138/1520951459229863976/Zw.png?ex=6a430fed&is=6a41be6d&hm=921da219bc47a8e03770e3e87283ec9e472cb0db049db9a307b9ac7cd0501c87&");
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'DEATH';
  src: url('../public/Ghastly Panic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "DEATH", sans-serif;
}

.testClass {
  font-family: "DEATH";
  font-size: 64px;
}
